body,
header,
footer,
section,
div,
img,
h1,
h2,
h3,
dt,
dd,
p {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
input,
button {
    font: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    border: 0;
    background: none;
}

button:enabled {
    cursor: pointer;
}

ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.a11y-hidden {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

:root {
    --color-mainColor: #14b069;
    --color-navy: #132644;
    --color-lime: #e1ff67;
    --color-blue: #1643db;
    --color-steelblue: #5472a1;
    --color-maingrey: #c4c4c4;
    --color-darkgrey: #767676;
    --color-lightgrey: #dbdbdb;
    --color-red: #eb5757;
    --color-bg: #f2f2f2;
}
